$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ebc96d, #6b69d6 !default;

:root {
    --body-text-color: #777;
    --card-text-color-tertiary: #999;
    --card-text-color-main: #333;
    --article-line-height: 1.6;

    &[data-scheme="dark"] {
        --accent-color: #8fb8c5;
    }
}

.main-container {
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    font-size: 1.5rem;
}

.article-time > div {
    gap: 5px;
}

article {
    .article-image img {
        height: 200px;
    }
    .article-content {
        margin: 50px auto;

        blockquote {
            //font-size: 0.8em;
            padding: 5px calc(var(--card-padding) - var(--blockquote-border-size));
        }

        > p {
            margin: 0.8em auto;
            text-indent: 25px;
            max-width: 700px;
        }
    }
}

// remove img link inside post
.article-page .main-article .article-image a {
    pointer-events: none;
    cursor: default;
}

@media (min-width: 1400px) {
    :root {
        --article-font-size: 1.8rem;
    }

    .article-list {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }
}
