$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ff9100, #6b69d6;

:root {
    --article-line-height: 1.6;
    --section-separation: 30px;
    --menu-icon-separation: 20px;
    --small-card-padding: 15px 25px;
    letter-spacing: 0.2px;

    &[data-scheme="light"] {
        --body-background: #bbb;
        --body-text-color: #333;
        --accent-color: rgb(194, 71, 92);
        --card-text-color-main: #333;
        --card-text-color-secondary: rgb(194, 71, 92);
        --card-text-color-tertiary: #444;
        --card-background: #ccc;
        --card-background-selected: #ddd;
        --card-widget-color: #eee;
        --card-widget-background: #555;
        --blockquote-background-color: #ddd;
    }

    &[data-scheme="dark"] {
        --body-background: #2a2a2a;
        --card-background: #393939;
        --accent-color: #7f9daf;
        --card-text-color-main: #e3e3e3;
        --card-text-color-secondary: #7f9daf;
        --card-text-color-tertiary: #aaa;
        --card-widget-background: #424242;
    }
}

.article-list article .article-category a {
    background: var(--accent-color) !important;
    color: var(--accent-color-text) !important;
}

footer.site-footer {
    &::before {
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        margin-bottom: 15px;
    }
    .copyright {
        font-weight: 400;
    }
}

.article-list article {
    .article-image {
        overflow: hidden;
    }
    .article-image img {
        height: 200px;
    }
}

.article-time > div {
    gap: 5px;
}

.article-title {
    font-size: 2.2rem;
    line-height: 1.2em;
}

.article-details {
    padding: 20px 25px 25px 25px;
}

// full article page
.article-page .main-article {
    .article-header {
        .article-title {
            font-size: 2.5rem;
            // remove links to self inside post
            a {
                pointer-events: none;
                cursor: default;
            }
        }
        .article-image {
            img {
                max-height: 55vh;
                object-fit: cover;
            }
        }
    }
    .article-content {
        margin: 50px auto;
        color: var(--card-text-color-main);

        blockquote {
            padding: 1px calc(var(--card-padding) - var(--blockquote-border-size));
        }

        > p:not(.no-text) {
            margin: 0.8em auto;
            text-indent: 25px;
            max-width: 700px;
        }
    }
    .article-footer .article-tags {
        margin-top: 50px;
    }
}

.tagCloud .tagCloud-tags a {
    padding: 8px 15px;
}

.icon-tabler-brand-instagram > path {
    fill: var(--body-text-color);
    stroke-width: 6px;
}

.main-container {
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    font-size: 1.5rem;

    li span {
        font-weight: 400;
    }
}

.pagination {
    align-self: center;
    max-width: 800px;
    .page-link {
        padding: 16px 20px;
        color: var(--card-text-color-tertiary);
    }
}

h2 {
    font-size: 1.2em;
}

.article-category a,
.article-tags a {
    padding: 6px 12px;
}

.sidebar header .site-name {
    font-size: 2rem;
}

.article-list--compact article {
    --image-size: 80px;

    .article-subtitle {
        margin: 0;
        font-size: 1.6rem;
    }
    .article-preview {
        margin-top: 0px;
    }
    .article-details {
        gap: 5px;
    }
    .article-image img {
        border-radius: var(--card-border-radius);
    }
}

mark {
    background-color: #ffe683;
}

.widget.archives {
    .archives-year a {
        padding: 10px 15px;
        width: 100px;
        text-align: center;
        span.year {
            font-weight: unset;
        }
    }
}

.search-form {
    button svg {
        color: var(--card-text-color-tertiary);
    }
}

.search-result .article-image img {
    border-radius: var(--card-border-radius);
}

.widget-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.widget-title.section-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

h3.section-title,
.archives-date.section-title {
    font-size: 2rem;
}

.section-card {
    background-color: unset;
    box-shadow: unset;

    .section-term {
        color: var(--card-text-color-secondary);
    }
}

.sidebar header .site-name {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

// ---------- @media ----------

@media (min-width: 1400px) {
    :root {
        --article-font-size: 1.8rem;
    }

    .article-list {
        display: grid;
        grid-template: 1fr / 1fr 1fr;

        article {
            .article-image {
                overflow: hidden;
            }
            &:hover .article-image img {
                filter: grayscale(0%) brightness(100%);
            }
            .article-image img {
                filter: grayscale(40%) brightness(75%);
                transition: filter 0.3s ease-in;
            }
        }
    }

    .widget a {
        color: var(--accent-color-text);
        background-color: var(--accent-color);
        transition: background-color 0.5s ease;
    }
    .widget a:hover {
        color: var(--accent-color-text);
        background-color: var(--accent-color-darker);
    }
    .widget.archives .archives-year a:hover span.year {
        color: var(--accent-color-text);
    }
    .widget.archives .archives-year a:hover span.count {
        color: var(--accent-color-text);
    }
    .article-list article .article-category a:hover {
        background-color: var(--accent-color-darker) !important;
    }
}
