:root {
    --body-text-color: #777;
    --card-text-color-main: #333;
    --card-text-color-tertiary: #999;
    --article-line-height: 1.6;
    --card-background: #fdfdfd;
    --section-separation: 30px;
    --menu-icon-separation: 20px;
    --small-card-padding: 15px 25px;

    &[data-scheme="light"] {
        --accent-color: rgb(168, 72, 72);
        --card-text-color-secondary: rgb(168, 72, 72);
        #dark-mode-toggle {
            color: var(--accent-color);
            font-weight: 700;
        }
    }

    &[data-scheme="dark"] {
        --accent-color: #8fb8c5;
        --card-text-color-secondary: #8fb8c5;
    }

    letter-spacing: 0.2px;
}

.search-form {
    &.widget label {
        color: var(--body-text-color);
    }
    input {
        color: var(--card-text-color-secondary);
    }
}

.article-list article {
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.02);
    }

    .article-image img {
        height: 200px;
    }
}

.article-time > div {
    gap: 5px;
}

.article-title {
    font-size: 2.2rem;
    line-height: 1.2em;
}

.article-page .main-article {
    .article-header {
        // remove links to post inside post
        .article-image,
        .article-title {
            a {
                pointer-events: none;
                cursor: default;
            }
            img {
                max-height: 55vh;
                object-fit: cover;
            }
        }
    }
    .article-content {
        margin: 50px auto;
        color: var(--card-text-color-main);

        blockquote {
            padding: 5px calc(var(--card-padding) - var(--blockquote-border-size));
        }

        > p:not(.no-text) {
            margin: 0.8em auto;
            text-indent: 25px;
            max-width: 700px;
        }
    }
    .article-footer .article-tags {
        margin-top: 50px;
    }
}

.icon-tabler-brand-instagram > path {
    fill: var(--body-text-color);
    stroke-width: 6px;
}

.main-container {
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    font-size: 1.5rem;
}

.pagination {
    align-self: center;
    max-width: 800px;
    .page-link {
        padding: 16px 20px;
    }
}

.sidebar header .site-name {
    font-size: 2rem;
}

.widget.archives .archives-year a {
    padding: 15px 25px;
    span.year {
        font-weight: unset;
    }
}

.article-list--compact article {
    --image-size: 80px;

    .article-subtitle {
        margin: 0;
        font-size: 1.5rem;
    }
    .article-preview {
        margin-top: 0px;
    }
}

mark {
    background-color: #ffe683;
}

.widget.archives {
    width: 300px;
}

.search-form.widget {
    width: 300px;
}

.widget-icon {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.widget-title.section-title {
    margin-top: 0;
    margin-bottom: 0;
}

h3.section-title,
.archives-date.section-title {
    font-size: 2rem;
}

.section-card .section-term {
    color: var(--card-text-color-secondary);
}

.section-card {
    background-color: unset;
    box-shadow: unset;
}

.sidebar header .site-name {
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.menu li span {
	font-weight: 400;
}

@media (min-width: 1400px) {
    :root {
        --article-font-size: 1.8rem;
    }

    .article-list {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }
}
